# PostgreSQL
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=CHANGE_ME

# API - Database
APP_CONFIG__DB__PG__URL=postgresql+asyncpg://user:CHANGE_ME@pg:5432/db
APP_CONFIG__DB__REDIS__URL=redis://redis:6379/0

# API - Auth
APP_CONFIG__AUTH__JWT__RESET_PASSWORD_TOKEN_SECRET=CHANGE_ME
APP_CONFIG__AUTH__JWT__VERIFICATION_TOKEN_SECRET=CHANGE_ME

# API - Cookie
APP_CONFIG__AUTH__COOKIE__SECURE=true
APP_CONFIG__AUTH__COOKIE__DOMAIN=yourdomain.com

# API - CORS
APP_CONFIG__CORS__ALLOWED_ORIGINS=["https://yourdomain.com"]
APP_CONFIG__CORS__ALLOW_CREDENTIALS=true

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@yourdomain.com
PGADMIN_DEFAULT_PASSWORD=CHANGE_ME
PGADMIN_CONFIG_SERVER_MODE=False
